
<div class="container">

<h2>{{'Deploy Issuance' | transl}}</h2>

<div id="form-band" class="form-band">

<div class="div-form-container" ng-controller="IssuanceDeployFormCtrl" >

<div ng-if="issuance.islocalonly" class="div-form-tabs">
	<div class="div-form-tab"><span><a ui-sref="home.stockledgers.issuances.modify({uuid: stockledger.uuid, index: issuance.index})">{{'Modify issuance' | transl}}</a></span></div>
	<div class="div-form-selected-tab"><span>{{'Deploy issuance' | transl}}</span></div>
</div>

<div class="div-form">

<div ng-if="issuance.islocalonly" ng-include='"./dapps/securities/angular-ui/partials/issuance-deploy-form.html"'></div>

</div><!-- div-form -->

<!-- cue messages (e.g. wallet balance -->
<div class="div-form-cue"></div>

</div><!-- div-form-container -->

</div><!-- form-band -->

<div class="band-separator"><hr></div>

<div id="view-band" class="view-band">

<div class="div-view-container" >

<div ng-include='"./dapps/securities/angular-ui/partials/issuance-cover-view.html"'></div>

</div><!-- div-view-container -->

</div><!-- /.container -->