<div class="container">

<h2>{{'Import Stock Ledger' | transl}}</h2>

<div id="form-band" class="form-band">

<div class="div-form-container" ng-controller="StockLedgerImportFormCtrl" >


<div class="div-form-tabs">
	<div class="div-form-selected-tab"><span>{{'Import Stock Ledger' | transl}}</span></div>
	<div class="div-form-tab"><span><a ui-sref="home.stockledgers.create">{{'Create stock ledger' | transl}}</a></span></div>
</div>


<div class="div-form">

<div ng-include='"./dapps/securities/angular-ui/partials/stockledger-import-form.html"'></div>


</div><!-- div-form -->

<!-- cue messages (e.g. wallet balance -->
<div class="div-form-cue"></div>

</div><!-- div-form-container -->

</div><!-- form-band -->

<div class="band-separator"><hr></div>

<div id="view-band" class="view-band">

<div class="div-view-container" >

<div ng-include='"./dapps/securities/angular-ui/partials/stockledger-list-view.html"'></div>

</div><!-- div-view-container -->

</div><!-- view-band -->

</div><!-- /.container -->