<div class="container">

<h2>{{'About' | transl}}</h2>

<div id="view-band" class="view-band">

<div class="div-view-container" >


<div>{{'Ethereum dapps is an open source framework to publish dapps on public ethereum networks' | transl}}</div>

<h3>{{'Version info' | transl}}</h3>

<div ng-include='utils.dapp_url("./angular-ui/partials/version-info-view.html")'></div>

<h3>{{'Node info' | transl}}</h3>

<div ng-include='utils.dapp_url("./angular-ui/partials/node-info-view.html")'></div>


</div><!-- div-view-container -->

</div><!-- view-band -->


</div><!-- /.container -->