<div class="container">
<h2>{{'Sessions' | transl}}</h2>

<div id="form-band" class="form-band">

<div class="div-form-container" >



<form name="sessionsForm" id="sessionsForm" ng-controller="SessionsFormCtrl" ng-submit="handleSubmit()">
 
    <div>
            <button ng-click="handleNewSessionSubmit()" >{{'Spawn' || transl}}</button>
            <select class="form-from-select" ng-model="selectedsessionuuid" ng-change="handleToChange()"><option ng-repeat="session in sessions" ng-value="session.uuid">{{session.description}}</option></select>
    </div>
     
 </form>


</div><!-- div-form -->

<!-- cue messages (e.g. wallet balance -->
<div class="div-form-cue"></div>

</div><!-- div-form-container -->

</div><!-- form-band -->

</div><!-- /.container -->
