<div class="container">
<h2>{{'Sessions' | transl}}</h2>

<div id="form-band" class="form-band">

<div class="div-form-container" >

<h3>{{'Sessions' | transl}}</h3>

<div ng-include='utils.dapp_url("./angular-ui/partials/session-switch.html")'></div>

<h3>{{'Current Session' | transl}}</h3>

<div ng-include='utils.dapp_url("./angular-ui/partials/session-config.html")'></div>

</div><!-- div-form -->

<!-- cue messages (e.g. wallet balance -->
<div class="div-form-cue"></div>

</div><!-- div-form-container -->

</div><!-- form-band -->

</div><!-- /.container -->
