<form name="TransactionDeployForm" ng-controller="TransactionDeployFormCtrl" ng-submit="handleSubmit()">
 
 	<input type="hidden" name="stockledgeruuid" ng-model="stockledger.uuid" required>
 	<input type="hidden" name="transactionindex" ng-model="transaction.index" required>
 	
  	<div>
	
	<span id="from-span" class="from-span">
		<label for="from">{{'From:' | transl}}</label>
		<select class="form-select" ng-model="selectedshldrfrom" ng-change="handleFromChange()"><option ng-repeat="shldr in fromshldrs" ng-value="shldr.address">{{shldr.description}}</option></select>
 	</span>
	
 	<span id="to-span" class="to-span">
		<label for="to">{{'To:' | transl}}</label>
		<select class="form-select" ng-model="selectedshldrto" ng-change="handleToChange()"><option ng-repeat="shldr in toshldrs" ng-value="shldr.address">{{shldr.description}}</option></select>
 	</span>
	
 	</div>

	<div>
	
 	<span id="issuancenumber-span" class="to-span">
		<label for="to">{{'Issuance:' | transl}}</label>
		<select class="form-issuance-select" ng-model="selectedissuancenumber" ng-change="handleIssuanceChange()"><option ng-repeat="issuance in issuances" ng-value="issuance.number">{{issuance.description}}</option></select>
 	</span>
	
	<span>
		<label for="numberofshares">{{'Enter number of shares transferred:' | transl}}</label>
		<input type="text" class="token-form-numberofshares-input" name="numberofshares" ng-model="numberofshares.text" required>
		
 	</span>
 	
 	<span>
		<label for="consideration">{{'Enter the total amount:' | transl}}</label>
		<input type="text" class="token-form-consideration-input" name="consideration" ng-model="consideration.text" required>
		
 	</span>
 	
 	<span>
		<label for="currency">{{'Enter currency (e.g. EUR, USD,..):' | transl}}</label>
		<input type="text" class="token-form-currency-input" name="currency" ng-model="currency.text" required>
		
 	</span>
 	
 
  	</div>
  	
  	<div>
 	
	<span id="walletused-span" class="form-from-span">
		<label for="walletused">{{'Wallet used:' | transl}}</label>
		<input type="text" class="form-walletused-input" name="walletused" ng-model="walletused.text" ng-change="handleWalletChange()" required><br>
		<select ng-show="session.hassessionaccounts" class="form-wallet-select" ng-model="selectedfrom" ng-change="handleWalletSelectChange()"><option ng-repeat="account in fromaccounts" ng-value="account.uuid">{{account.description}}</option></select>
 	</span>
	
	<span ng-show="!walletused.issessionaccount" id="walletpassword-span" class="token-form-walletpassword-span">
		<label for="password">{{'Password:' | transl}}</label>
		<input autocomplete="new-password" type="password" class="token-form-walletpassword-input" name="walletpassword" ng-model="password.text">
 	</span>
 	
	<span id="gaslimit-span" class="gaslimit-span">
		<label for="gaslimit">{{'Gas limit:' | transl}}</label>
		<input type="text" class="form-gaslimit-input" name="gaslimit" ng-model="gaslimit.text" required>
	</span>
	
	<span id="gasprice-span" class="gasprice-span">
		<label for="gasprice">{{'Gas price:' | transl}}</label>
		<input type="text" class="form-gasprice-input" name="gasprice" ng-model="gasprice.text" required>
	</span>
	
  	<span class="form-actions">
            <button type="submit" >{{'Deploy' || transl}}</button>
	</span>
 
    </div>
    
    
 </form>

