<div id="TransactionView" ng-controller="TransactionViewCtrl">


    
    <table class="table-contract">
    
		<!-- local part -->
		<tr class='tr-local'>
	    	<td class='td-label'>{{'Sender is:' | transl}}</td>
	    	<td>{{localsender.text}}</td>
		</tr>
	    	
		<tr class='tr-local'>
	    	<td class='td-label'>{{'Recipient is:' | transl}}</td>
	    	<td>{{localrecipient.text}}</td>
		</tr>
	    	
 		<tr class='tr-local'>
	    	<td class='td-label'>{{'Issuance number is:' | transl}}</td>
	    	<td>{{localissuancenumber.text}}</td>
		</tr>
	    	
 		<tr class='tr-local'>
	    	<td class='td-label'>{{'Number of shares is:' | transl}}</td>
	    	<td>{{localnumberofshares.text}}</td>
		</tr>
	    	
 		<tr class='tr-local'>
	    	<td class='td-label'>{{'Consideration is:' | transl}}</td>
	    	<td>{{localconsideration.text}}</td>
		</tr>
	    	
  		<tr class='tr-local'>
	    	<td class='td-label'>{{'Currency is:' | transl}}</td>
	    	<td>{{localcurrency.text}}</td>
		</tr>
	    	
 		<tr class='tr-local'>
	    	<td class='td-label'>{{'Order id is:' | transl}}</td>
	    	<td>{{localorderid.text}}</td>
		</tr>
	    	
  		<tr class='tr-local'>
	    	<td class='td-label'>{{'Creation date is:' | transl}}</td>
	    	<td>{{localcreationdate.text}}</td>
		</tr>
	    	
  		<tr class='tr-local'>
	    	<td class='td-label'>{{'Submission date is:' | transl}}</td>
	    	<td>{{localsubmissiondate.text}}</td>
		</tr>
	    	
  		<tr class='tr-local'>
	    	<td class='td-label'>{{'Local status is:' | transl}}</td>
	    	<td>{{localstatus.text}}</td>
		</tr>

 		
 		<!-- chain part -->
  		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Authentication is:' | transl}}</td>
	    	<td>{{chainauthentication.text}}</td>
		</tr>
	    	
  		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Sender is:' | transl}}</td>
	    	<td>{{chainsender.text}}</td>
		</tr>
	    	
  		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Recipient is:' | transl}}</td>
	    	<td>{{chainrecipient.text}}</td>
		</tr>
	    	
   		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Nature is:' | transl}}</td>
	    	<td>{{chainnature.text}}</td>
		</tr>
	    	
    		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Issuance number is:' | transl}}</td>
	    	<td>{{chainissuancenumber.text}}</td>
		</tr>
	    	
   		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Number of shares is:' | transl}}</td>
	    	<td>{{chainnumberofshares.text}}</td>
		</tr>
	    	
   		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Consideration is:' | transl}}</td>
	    	<td>{{chainconsideration.text}}</td>
		</tr>
	    	
   		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Currency is:' | transl}}</td>
	    	<td>{{chaincurrency.text}}</td>
		</tr>
	    	
   		<tr class='tr-chain'>
	    	<td class='td-label'>{{'Creator address is:' | transl}}</td>
	    	<td>{{chaincreatoraddress.text}}</td>
		</tr>
	    	
    	<tr class='tr-chain'>
	    	<td class='td-label'>{{'Order id is:' | transl}}</td>
	    	<td>{{chainorderid.text}}</td>
		</tr>
    
    	<tr class='tr-chain'>
	    	<td class='td-label'>{{'Digital signature is:' | transl}}</td>
	    	<td>{{chainsignature.text}}</td>
		</tr>

    	<tr class='tr-chain'>
	    	<td class='td-label'>{{'Transaction date is:' | transl}}</td>
	    	<td>{{chaintransactiondate.text}}</td>
		</tr>

    	<tr class='tr-chain'>
	    	<td class='td-label'>{{'Block number is:' | transl}}</td>
	    	<td>{{chainblocknumber.text}}</td>
		</tr>

    </table>


</div>

